.Header {
  display: flex;
  width: 100%;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

svg {
  padding: 5px;
}

.arrow:hover polyline {
  stroke-width: 2;
}

.arrow:active,
.checked polyline {
  stroke-width: 3;
  transition: all 100ms ease-in-out;
}
